@import "tailwindcss";

@layer base {
    body {
        @apply font-primary text-primary;
    }
}

@theme{
    /* Font Family */
    --font-primary: "Poppins";
  
    /* Text Color */
    --color-primary: #222222;
    --color-secondary: #F5E6E0;
  
    /* Screens sizes */
    --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1440px;
  
    /* Background Image */
    --bg-image: url("./img/bg_hero.svg");
  
  }